.page{
  background-color: #010f1d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.division{
  background-color: #5BC0BE;
  height: 0.3vh;
  width: 100vw;
}
.main {
  flex: 1;
}

.permissions {
  width:65vw;
  display: grid;
  margin-left: 15vw;
  margin-right: 15vw;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

@media (max-width: 768px) {
  .permissions {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .permissions {
    grid-template-columns: 1fr; 
  }
}